<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Node.js $ passport App</title>
    <link rel="stylesheet" href="/stylesheets/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/css/sketchy-bootstrap.min.css">
</head>
<body>
    
    <div class="container">
        <%- body %>
    </div>
    

    <script src="/stylesheets/dist/js/jquery-3.3.1.slim.min.js"></script>
    <script src="/stylesheets/dist/js/popper.min.js"></script>
    <script src="/stylesheets/dist/js/bootstrap.min.js"></script>
</body>
</html>